<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>mainPage</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
</head>

<body style="margin-left: 60px;
  margin-right: 60px;">
<div class="container"  onclick="window.location.href='/students/find'">
    <h1 class="text-center">Информация о студентах</h1>
    <hr>
</div>
<div class="text-end" style="margin-bottom: -38px;"><button class="btn btn-success text-end" type="submit" style="margin-left: 15px;margin-right: 104px;" onclick="window.location.href='/students/add'">Добавить студента</button></div>
<div class="container d-xxl-flex justify-content-xxl-center">
    <form class="d-xxl-flex justify-content-xxl-center" style="max-width: 1000px;" id="findForm" action="http://localhost:8000/students/find">
        <input class="form-control" type="search" name="name" style="max-width: 300px;margin-right: 10px;" placeholder="Имя" value="{{.Name}}">
        <input class="form-control" type="search" name="number" style="max-width: 150px;margin-right: 10px;" placeholder="Номер" value="{{.Number}}">
        <select class="form-select" name="housing">
            <optgroup label="Выбор корпуса">
                <option value="0" selected="">Все корпуса</option>
                <option value="Ул. Пушкина, д. 21">Ул. Пушкина, д. 21</option>
                <option value="Ул. Вернадского, д.86к4">Ул. Вернадского, д.86к4</option>
                <option value="Ул. Асанова, д.14к8">Ул. Асанова, д.14к8</option>
            </optgroup>
        </select><button class="btn btn-primary" type="submit" style="margin-left: 15px;">Найти</button></form>
</div>
{{$rows := .Students}}
{{if $rows}}
{{range $index, $row := $rows}}
<div class="d-xxl-flex justify-content-xxl-center" style="margin-top: 30px;margin-bottom: 10px;">
    {{range $elementIndex, $element := $row }}
    <div class="card text-start" style="max-width: 350px;padding-right: 0px;margin-left: 15px;margin-right: 15px;"><img class="rounded card-img-top w-100 d-block" src="{{.PhotoUrl}}" style="max-height: 270px;margin: 0px;padding: 2px;">
        <div class="card-body" onclick="window.location.href='/students/show?id={{$element.ID}}'">
            <h4 class="card-title" style="margin-bottom: 15px;">{{$element.FullName}}</h4>
            <h6 class="text-muted card-subtitle mb-2" style="padding-bottom: 0px;margin-bottom: 0px;">Номер карты: {{$element.CardNumber}}</h6>
            <h6 class="text-muted card-subtitle mb-2">Адрес: {{$element.ResidenceAddress}}</h6>
            <button class="btn btn-primary" type="button">Раскрыть</button>
        </div>
    </div>
    {{end}}
</div>
{{end}}
<div class="d-xxl-flex justify-content-xxl-center" style="margin-top: 80px;margin-bottom: 10px;">
</div>
{{else}}
<div class="d-xxl-flex justify-content-xxl-center" style="margin-top: 30px;margin-bottom: 10px;">
    Никто не найден!
</div>
{{end}}
<nav class="d-xxl-flex justify-content-xxl-center" style="position: fixed; bottom: 0; left: 50%; transform: translateX(-50%)">
    <ul class="pagination">
        <li class="page-item"><a class="page-link" aria-label="Previous" href="?page%3D{{.PagePrev}}%26{{.Query}}"><span aria-hidden="true">«</span></a></li>
        <li class="page-item"><a class="page-link" href="?page%3D{{.Page1}}%26{{.Query}}">{{.Page1}}</a></li>
        <li class="page-item"><a class="page-link" href="?page%3D{{.Page2}}%26{{.Query}}">{{.Page2}}</a></li>
        <li class="page-item"><a class="page-link" href="?page%3D{{.Page3}}%26{{.Query}}">{{.Page3}}</a></li>
        <li class="page-item"><a class="page-link" href="?page%3D{{.Page4}}%26{{.Query}}">{{.Page4}}</a></li>
        <li class="page-item"><a class="page-link" href="?page%3D{{.Page5}}%26{{.Query}}">{{.Page5}}</a></li>
        <li class="page-item"><a class="page-link" aria-label="Next" href="?page%3D{{.PageNext}}%26{{.Query}}"><span aria-hidden="true">»</span></a></li>
    </ul>
</nav>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/js/findPage.js"></script>
</body>

</html>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>